.container {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  min-width: 200px;
  padding: 20px 0;
}

.menuItem {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 5px 0px;
  cursor: pointer;
}

.menuItem .title {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
}

/*.menuItem .subTitle {*/
/*  margin-left: 30px;*/
/*  margin-top: 10px;*/
/*}*/

.subTitle {
  display: flex;
  align-items: center;
  margin-left: 20px;
  padding-left: 5px;

  text-decoration: none;
  color: inherit;
  height: 30px;
}

.isActive{
  background-color: #aac9e1;
}

