.container {
  display: flex;
  align-items: center;

  box-sizing: border-box;
  height: 50px;
  background-color: #1d6088;
}

.container > nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 1350px;
  margin: 0px auto;
}

.firstNav {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.secondNav{
    color: white;
}

.appName {
  font-size: 1.05rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.searchJob {
  box-sizing: border-box;
  height: 30px;
  width: 290px;
  margin-left: 120px;
  margin-right: 20px;
  border-radius: 3px;
  padding: 10px 10px;

  outline: none;
  border: none;
}

.citySelect {
  box-sizing: border-box;
  height: 30px;
  width: 100px;
  border-radius: 3px;

  outline: none;
  text-align: center;
}

.citySelect > option {
  text-align: left;
}
