.formInput {
  box-sizing: border-box;
  height: 35px;
  padding: 3px 15px;
  border-radius: 5px;
  border: 1px solid rgb(184, 184, 184);
  margin-top: 5px;
  width: 100%;

  outline: none;
}

.error {
  border: 1px solid rgb(182, 17, 17);
}

.errorMessage {
  margin-top: 5px;
  margin-bottom: 5px;
  color: rgb(182, 17, 17);
}
