.app{
    display: flex;
    flex-direction: column;
  
    min-height: 100vh;
  
    font-family: sans-serif;
    background-color: #eaeaea;
    min-width: 1100px;
}

.appBody {
    position: relative;
    flex-grow: 1;

    display: flex;
    gap: 10px;
    width: 1350px;
    margin: 10px auto;
    background-color: green;

}

.appContent{
    flex-grow: 1;
    background-color: #f5ee1c;

}